[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.124.4",
    "pydantic>=2.12.5",
    "rank-bm25>=0.2.2",
    "uvicorn>=0.38.0",
]
